PORT=3002
DATABASE_URL=
PGHOST=chatbots-postgressql-wwwpjx
PGPORT=5432
PGDATABASE=pos_saas
PGUSER=admin
PGPASSWORD=S@@S_POS_2010_Ale
PGSSLMODE=disable
SESSION_SECRET=pos_saas_alejandro_2026_super_secret_key_!2730
VITE_API_BASE_URL=http://31.97.214.24:3002